.static {
  position: fixed;
  top: 0;
  width: 40vw;
  z-index: 3;
}

.menu-static {
  display: flex;
}

.menu-static {
  padding: 4rem;
  list-style: none;
}

.menu-static li {
  padding-right: 15px;
}

.menu-link {
  color: whitesmoke;
  transition: all 0.4s ease-in-out;
}

.static .menu-item a:hover {
  color: tomato;
}

.static .menu-item.active > a {
  color: tomato;
  font-weight: bolder;
}