* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #444;
  color: white;
  height: 70px;
}

.brand-title {
  font-size: 1.8rem;
  margin-left: 1rem;
  display: flex;
  justify-content: left;
}

.navbar-links {
  margin-right: 2rem;
}

.navbar-links ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #666;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  visibility: hidden;
  flex-direction: column;
  justify-content: space-between;
}

.toggle-button .line {
  height: 3px;
  width: 28px;
  margin: 0 0 5px 0;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .navbar {
    width: 100%;
    align-items: baseline;
  }
  .brand-title {
    font-size: 1.8rem;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
  }

  .toggle-button {
    visibility: visible;
    position: absolute;
    top: 1.5rem;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: wheat;
    padding-top: 70px;
    z-index: 1;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links.active {
    display: flex;
    /* height: 100%;# */
  }
}
